<section class="history__component">

    <h1 class="history__component__header">Historial</h1>

    <div class="history__component__list">

        <div class="history__component__list__header">
            <span>Hora de consulta</span>
            <span>19-02-24 4:00</span>
        </div>

        <div class="history__component__list__item">
            <div class="history__component__list__item__header">
                <h1>Personajes o caracteres</h1>
                <span>OK</span>
            </div>
            <div class="history__component__list__item__status__bar__error">
            </div>
        </div>

        <div class="history__component__list__item">
            <div class="history__component__list__item__header">
                <h1>Personajes o caracteres</h1>
                <span>OK</span>
            </div>
            <div class="history__component__list__item__status__bar__success">
            </div>
        </div>

        
    </div>

</section>